body {
  font-family: Microsoft JhengHei !important;
}
@media (min-width: 1026px) {
  .overlaymenu {
    display: none;
  }
  .popMenu {
    position: absolute;
    top: 70px;
    height: 320px;
    width: 350px;
    left: -230px;
    background: #ffffff;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 10px 20px 10px;
  }

  .popMenu::before {
    content: "";
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-bottom-color: #ffffff;
    position: absolute;
    right: 20px;
    top: -40px;
  }
  .popMenu .popMenuContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .popMenu .close {
    position: absolute;
    display: inline-block;
    top: 0px;
    right: 20px;
    color: #333;
    font-size: 30px;
  }
  .popMenu .usImage {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #EEEEEE;
  }
  .popMenu .usInfo {
    text-align: left;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 130px;
    line-height: 30px;
    color: rgb(102, 102, 102);
  }
  .popMenu .usInfo p {
    margin-bottom: 0px;
  }
  .popMenu .funcButton {
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: 50px;
  }
  .popMenu .funcButton a {
    text-decoration: none;
    line-height: 40px;
    display: inline-block;
    width: 40%;
    margin: 0px 3.5px 0px 3.5px;
    border: 1px solid #2053a3;
    border-radius: 7px;
    color: #2053a3;
    font-weight: bold;
  }
  .popMenu .funcButton .funcButtonSC {
    width: 85%;
  }
  .popMenu .funcButton a:hover {
    color: white;
    background: #2053a3;
  }
  .popMenu .funcButton i {
    padding: 0px 5px 0px;
  }
  .header {
    border-bottom: 1px solid #eee;
    background-color: white;
    height: 59px;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
  }

  .header::after {
    content: "";
    height: 59px;
    width: calc((100% - 1200px) / 2);
    background: #f58400;
    position: absolute;
    /*上層沒有relative已body的左上座標為主*/
    top: 0px;
    right: 0px;
  }

  .menuPhone {
    display: none;
  }
  .logoPhone {
    display: none;
  }
  .logoutPhone {
    display: none;
  }

  .headerContainer {
    position: relative;
    display: flex;
    /*將容器設為flex*/
    flex-wrap: nowrap;
    max-width: 1280px;
    /*限制容器最大寬度可避免螢幕過大元件無限變寬*/
    /*使容器寬度等於最大寬大１２８０px*/
    margin: auto;
    /*置中margin自動分配*/
  }

  .logo {
    flex-basis: 310px;
    /*flex子項寬度*/
    background-color: white;
    height: 59px;
    padding-top: 10px;
  }

  .logo a img {
    height: 40px;
  }

  .menu {
    flex-basis: 794px;
    /*flex子項寬度*/
    background-color: white;
    height: 59px;
    line-height: 59px;
  }

  .menu ul li {
    display: inline-flex;
    padding: 0px 20px;
    font-size: 15px;
  }

  .menu ul li a {
    color: #333;
    text-decoration: none;
  }

  .menu ul .menuli1 a i {
    color: #f08a64;
    width: 30px;
    height: 0.85vw;
  }

  .menu ul .menuli2 a i {
    color: rgb(253, 173, 9);
    width: 30px;
    height: 0.85vw;
  }

  .menu ul .menuli3 a i {
    color: rgb(75, 152, 179);
    width: 30px;
    height: 0.85vw;
  }

  .menu ul .menuli4 a i {
    color: rgb(94, 181, 89);
    width: 30px;
    height: 0.85vw;
  }

  .menuli1:hover {
    background: rgb(251, 227, 218);
  }

  .menuli1:hover > a {
    color: rgb(213, 91, 56);
  }

  .menuli2:hover {
    background: rgb(255, 239, 205);
  }

  .menuli2:hover > a {
    color: rgb(253, 173, 9);
  }

  .menuli3:hover {
    background: rgb(216, 233, 239);
  }

  .menuli3:hover > a {
    color: rgb(75, 152, 179);
  }

  .menuli4:hover {
    background: rgb(221, 241, 219);
  }

  .menuli4:hover > a {
    color: rgb(94, 181, 89);
  }

  .active1 {
    background: rgb(251, 227, 218);
  }

  .active2 {
    background: rgb(255, 239, 205);
  }

  .active3 {
    background: rgb(216, 233, 239);
  }

  .active4 {
    background: rgb(221, 241, 219);
  }

  .menu ul .active1 a {
    color: rgb(213, 91, 56);
  }

  .menu ul .active2 a {
    color: rgb(253, 173, 9);
  }

  .menu ul .active3 a {
    color: rgb(75, 152, 179);
  }

  .menu ul .active4 a {
    color: rgb(94, 181, 89);
  }

  .login {
    flex-basis: 150px;
    /*flex子項寬度*/
    background-color: #f58400;
    height: 59px;
    line-height: 59px;
    color: white;
    position: relative;
  }

  .login > a {
    color: white;
  }

  .login > a:hover {
    color: #13334c;
    text-decoration: none;
  }
  .banner {
    margin-top: 60px;
    /*fixed header上浮 元件高度消失 banner會被蓋到必須推header高度*/
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #eee;
    height: 100%;
  }
  .bannerContainer {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    img {
      height: 500px;
    }
  }
  .imageCover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 2;
    background: white;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  }
  .champBannerImg {
    background-image: url(./image/ChampBanner2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
  }
  .champText {
    background-image: url(./image/BannerText2.svg);
    background-size: cover;
    background-position: center center;
    width: 800px;
    height: 200px;
    position: absolute;
    z-index: 50;
  }
  .textCover {
    position: absolute;
    display: flex;
    z-index: 2;
    flex-direction: column;
  }
  .imageCoverTitle {
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  .imageCoverSubTitle1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  //得勝者主要內容
  .champ {
    width: 100%;
    background: rgb(238, 238, 238);

    .champContainer {
      max-width: 1920px;min-height: 720px;
      padding: 70px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .champCard1 {
        width: 350px;
        height: 500px;
        background: white;
        margin: 20px;
        padding: 30px;
        box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.4);
        border-radius: 3px;
        .champCard1Title {
          background: #ff8800;
          color: white;
          text-align: center;
          padding: 15px 10px;
          font-size: 21px;
        }
        .champCard1Sub {
          text-align: center;
          padding: 30px 0px 40px 0px;
          display: flex;
          justify-content: space-between;
          font-weight: 450;
          font-size: 18px;
        }
        .champCard1Context {
          padding: 0px 0px;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 2px;
          text-align: justfy;
        }
      }
      .champCard2 {
        width: 350px;
        height: 500px;
        background: white;
        margin: 20px;
        padding: 30px ;
        box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.4);
        border-radius: 3px;

        .champCard2Title {
          background: rgb(0, 173, 124);
          color: white;
          text-align: center;
          padding: 15px 10px;
          font-size: 22px;
        }
        .champCard2Sub {
          letter-spacing: 1.5px;
          font-size: 18px;
          text-align: left;
          padding: 20px 0px 10px 0px;
          display: flex;
          justify-content: space-between;
          font-weight: 450;
        }
        .card2Detail1 {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .card2DetailFF {
            padding-top: 8px;
            font-weight: 400;
          }
          .card2DetailPL {
            font-weight: 400;
          }
          .card2QRcode {
            width: 90px;
            height: 90px;
            background-image: url(/QRcode.svg);
            background-size: cover;
            background-position: center center;
          }
        }
        .card2Detail2 {
          margin-bottom: 10px;
          .card2DetailFF {
            font-weight: 400;
          }
          .card2DetailPF {
            font-weight: 400;
          }
        }
        .card2Detail3 {
          margin-bottom: 10px;
          .card2DetailFF {
            font-weight: 400;
          }
          .card2DetailPF {
            font-weight: 400;
          }
        }
        .card2Detail4 {
          margin-bottom: 10px;

          .card2DetailFF {
            font-weight: 400;
          }
          .card2DetailPF {
            font-weight: 400;
          }
        }
        .go {
          padding: 10px 30px;
          background: rgb(0, 173, 124);
          border-radius: 10px;
          position: relative;
          bottom: -50px;
          left: 80px;
          color: white;
        }
      }
      .champCard3 {
        width: 350px;
        height: 500px;
        padding: 30px;
        background: #333;
        margin: 20px;
        background: white;
        border-radius: 3px;
        box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.4);
        .champCard3Title {
          background: #CB371A;
          color: white;
          text-align: center;
          padding: 15px 10px;
          font-size: 22px;
        }
        .champCard3Sub {
          letter-spacing: 1.5px;
          font-size: 18px;
          text-align: left;
          padding: 20px 0px 30px 0px;
          display: flex;
          justify-content: space-between;
          font-weight: 450;
        }
        ul{
          padding-left: 20px;
          line-height: 40px;
          font-weight: 400;
        }
      }
    }
  }
  .champFooter{
    width: 100%;
    background: black;
    .champFooterContainer{
    
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p{
        margin-bottom: 0px;
      }
      .ft1{
        font-size: 14px;
        color: whitesmoke;
      }
      .ft2{
        font-size: 19px;
        color: whitesmoke;
      }
      .ft3{
        font-size: 12px;
        color: whitesmoke
      }
    }
  }
}
@media (max-width: 1025px) and (min-width: 992px) {
  html {
    font-size: 14px;
  }
  p {
    margin: 0px;
  }
  .header {
    background: white;
    height: 44px;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
  .header .menuPhone {
    display: inline-flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    color: orange;
    background: white;
  }
  .overlaymenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    margin-top: -100vh;
    z-index: 100;
    transition: 0.6s;
    p {
      display: flex;
      align-items: center;
      justify-content: space-around;
      align-items: baseline;
      width: 160px;
      margin-top: 10px;
    }
    i {
      text-align: center;
      height: 30px;
      width: 30px;
      font-size: 1.5rem;
    }
    a {
      text-decoration: none;
      font-size: 1.5rem;
      color: black;
    }
  }
  .overlaymenu .closeMenu {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 28px;
    color: green;
  }

  .logoPhone {
    display: inline-flex;
    img {
      width: 185px;
      height: 44px;
    }
  }
  .header .logoutPhone {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: whitesmoke;
    background: rgb(16, 121, 2);
  }

  .headerContainer {
    display: none;
  }
  .popMenuPhone {
    display: block;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    top: 50px;
    right: 10px;
    border-radius: 10px;

    .popMenuContainer {
      border-radius: 10px;
      font-size: 14px;
      background: white;
      padding: 0px;
      position: relative;
      width: 280px;
      height: 280px;
      .usImage {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 100px;
        height: 100px;
        background: green;
        border-radius: 50%;
      }
      .usInfo {
        width: 150px;
        text-align: left;
        position: absolute;
        top: 30px;
        line-height: 25px;
        left: 130px;
        color: gray;
        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .funcButton {
        text-align: center;
        position: absolute;
        bottom: 10px;
      }
      .funcButton a {
        border: 1px solid green;
        border-radius: 5px;
        color: green;
        display: inline-block;
        font-size: 15px;
        margin: 5px;
        width: 110px;
        padding: 5px 10px 5px 10px;
      }
      .close {
        position: absolute;
        font-size: 20px;
        right: 15px;
        top: 15px;
      }
      .funcButtonSC {
        display: inline-block;
        width: 235px !important;
      }
    }
  }
  .banner {
    margin-top: 44px;
    /*fixed header上浮 元件高度消失 banner會被蓋到必須推header高度*/
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #eee;
    height: 100%;
  }
  .bannerContainer {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    img {
      height: 400px;
    }
  }
  .imageCover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 2;
    background-image: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%);
  }
  .textCover {
    position: absolute;
    z-index: 2;
    flex-direction: column;
  }
  .imageCoverTitle {
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  .imageCoverSubTitle1 {
    color: white;
    font-size: 2rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }

  /**主要內容*/

  .lastNewsContainer {
    max-width: 1280px;
    position: relative;
    margin: auto;
    margin-top: 40px;
  }

  .lastNews p {
    text-align: center;
    font-size: 1.5rem;
  }

  .lastNews::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 40%;
    top: 50%;
    left: 0%;
    background: linear-gradient(-90deg, #00ac28, #dbffdb);
  }
  .lastNews::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40%;
    top: 50%;
    right: 0%;
    background: linear-gradient(-90deg, #dbffdb, #00ac28);
  }
  .cardContainer {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .cardContainer > div {
    flex-basis: 30%;
    position: relative;
    height: 300px;
    margin: 10px 5px 0px 5px;
  }

  .cardContainer > div > a {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("/image/Card.jpg");
    background-position: center center;
    border-radius: 3px;
    background-repeat: no-repeat;
    filter: grayscale(60%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  .cardContainer > div > a:hover {
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
    filter: grayscale(0%);
  }

  .cardContainer > div > .cardSubInfo {
    width: 100%;
    position: absolute;
    background: black;
    opacity: 0.9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    bottom: 0px;
  }

  .cardContainer .cardText {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    .cardTitle {
      margin: 0;
      padding-top: 5px;
      flex-basis: 80%;
    }
    .cardLoveButton {
      flex-basis: 20%;
      font-size: 35px;
      text-align: right;
      color: grey;
    }
    .cardLoveButton:hover {
      color: palevioletred;
    }
    .cardTime {
      font-size: 14px;
      color: rgb(246, 101, 18);
      letter-spacing: 3px;
    }
  }
  .cardContainer .rank {
    text-align: center;
    display: inline-block;
    width: 48%;
  }

  .cardContainer .person {
    text-align: center;
    display: inline-block;
    width: 48%;
  }
  .cardContainer .moreActivity {
    text-decoration: none;
    border: 2px solid rgb(21, 161, 30);
    border-radius: 20px;
    color: black;
    font-size: 1rem;
    padding: 0px 20px 0px 20px;
    margin-top: 100px;
    margin-bottom: 0px;
    p {
      margin: 0px;
    }
  }
}
@media (max-width: 991px) {
  html {
    font-size: 14px;
  }
  p {
    margin: 0px;
  }
  .header {
    background: white;
    height: 44px;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    display: flex;
    justify-content: space-between;
  }
  .header .menuPhone {
    display: inline-flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    color: orange;
    background: white;
  }
  .overlaymenu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    margin-top: -100vh;
    z-index: 100;
    transition: 0.6s;
    p {
      display: flex;
      align-items: center;
      justify-content: space-around;
      align-items: baseline;
      width: 160px;
      margin-top: 5px;
    }
    i {
      text-align: center;
      height: 30px;
      width: 30px;
      font-size: 1.5rem;
    }
    a {
      text-decoration: none;
      font-size: 1.5rem;
      color: black;
    }
  }
  .overlaymenu .closeMenu {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 28px;
    color: green;
  }
  .logoPhone {
    display: inline-flex;
  }
  .logoPhone img {
    width: 185px;
    height: 44px;
  }
  .header .logoutPhone {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: whitesmoke;
    background: orange;
  }
  .headerContainer {
    display: none;
  }
  .popMenuPhone {
    display: block;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    top: 50px;
    right: 10px;
    border-radius: 10px;
  }
  .popMenuPhone .popMenuContainer {
    border-radius: 10px;
    font-size: 14px;
    background: white;
    padding: 0px;
    position: relative;
    width: 280px;
    height: 280px;
  }
  .popMenuPhone .popMenuContainer .usImage {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 50%;
  }
  .popMenuPhone .popMenuContainer .usInfo {
    width: 150px;
    text-align: left;
    position: absolute;
    top: 30px;
    line-height: 25px;
    left: 130px;
    color: gray;
  }
  .popMenuPhone .popMenuContainer .usInfo p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .popMenuPhone .popMenuContainer .funcButton {
    text-align: center;
    position: absolute;
    bottom: 10px;
  }
  .popMenuPhone .popMenuContainer .funcButton a {
    border: 1px solid green;
    border-radius: 5px;
    color: green;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
    width: 110px;
    padding: 5px 10px 5px 10px;
  }
  .popMenuPhone .popMenuContainer .close {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
  }
  .popMenuPhone .popMenuContainer .funcButtonSC {
    display: inline-block;
    width: 235px !important;
  }
  .banner {
    margin-top: 44px;
    /*fixed header上浮 元件高度消失 banner會被蓋到必須推header高度*/
    position: relative;
    width: 100%;
  
    background: #eee;
    height: 100%;
  }
  .bannerContainer {
    width: 100%;
    display: flex;
   
    justify-content: center;
    align-items: center;
  }
  .bannerContainer img {
    height: 200px;
  }
  .imageCover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 2;
    background: white;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  }
  .champBannerImg {
    background-image: url(/image/ChampBanner.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 200px;
  }
  .champText {
    background-image: url(/image/BannerText2.svg);
    background-size: cover;
    background-position: center center;
    width: 360px;
    height: 100px;
    position: absolute;
    z-index: 5;
  }
 

  .champ {
    width: 100%;
    background: rgb(238, 238, 238);

    .champContainer {
      max-width: 1920px;min-height: 920px;
      padding: 10px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .champCard1 {
        width: 350px;
        height: 500px;
        background: white;
        margin: 20px;
        padding: 30px;
        box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.4);
        border-radius: 3px;
        
        .champCard1Title {
          background: #ff8800;
          color: white;
          text-align: center;
          padding: 15px 10px;
          font-size: 21px;
        }
        .champCard1Sub {
          text-align: center;
          font-size: 18px !important;
          padding: 30px 10px 40px 10px;
          display: flex;
          justify-content: space-between;
          font-weight: 450;

        }
        .champCard1Context {
          padding: 0px 10px;
          font-weight: 400;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 2px;
          text-align: center;
        }
      }
      .champCard2 {
        width: 350px;
        height: 500px;
        background: white;
        margin: 20px;
        padding: 30px ;
        box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.4);
        border-radius: 3px;
        position: relative;
        .champCard2Title {
          background: rgb(0, 173, 124);
          color: white;
          text-align: center;
          padding: 15px 10px;
          font-size: 22px;
        }
        .champCard2Sub {
          letter-spacing: 1.5px;
          font-size: 18px;
          text-align: left;
          padding: 20px 0px 10px 0px;
          display: flex;
          justify-content: space-between;
          font-weight: 450;
        }
        .card2Detail1 {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .card2DetailFF {
            padding-top: 8px;
            font-weight: 400;
          }
          .card2DetailPL {
            font-weight: 400;
          }
          .card2QRcode {
            width: 90px;
            height: 90px;
            background-image: url(/QRcode.svg);
            background-size: cover;
            background-position: center center;
          }
        }
        .card2Detail2 {
          margin-bottom: 10px;
          .card2DetailFF {
            font-weight: 400;
          }
          .card2DetailPF {
            font-weight: 400;
          }
        }
        .card2Detail3 {
          margin-bottom: 10px;
          .card2DetailFF {
            font-weight: 400;
          }
          .card2DetailPF {
            font-weight: 400;
          }
        }
        .card2Detail4 {
          margin-bottom: 10px;

          .card2DetailFF {
            font-weight: 400;
          }
          .card2DetailPF {
            font-weight: 400;
          }
        }
        .go {
          display: block;
          padding: 10px 30px;
          background: rgb(0, 173, 124);
          border-radius: 10px;
         margin-top: 80px;
          color: white;
          text-align: center;
          text-decoration: none !important;
        }
      }
      .champCard3 {
        width: 350px;
        height: 500px;
        padding: 30px;
        background: #333;
        margin: 20px;
        background: white;
        border-radius: 3px;
        box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.4);
        .champCard3Title {
          background: #CB371A;
          color: white;
          text-align: center;
          padding: 15px 10px;
          font-size: 22px;
        }
        .champCard3Sub {
          letter-spacing: 1.5px;
          font-size: 18px;
          text-align: left;
          padding: 20px 0px 40px 0px;
          display: flex;
          justify-content: space-between;
          font-weight: 450;
        }
        ul{
          padding-left: 20px;
          line-height: 40px;
          font-weight: 400;
        }
      }
    }
  }
  .champFooter{
    width: 100%;
    background: black;
    .champFooterContainer{
    
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p{
        margin-bottom: 0px;
      }
      .ft1{
        font-size: 14px;
        color: whitesmoke;
      }
      .ft2{
        font-size: 14px;
        color: whitesmoke;
      }
      .ft3{
        text-align: center;
        font-size: 12px;
        color: whitesmoke
      }
    }
  }

  .textCover {
    position: absolute;
    display: flex;
    z-index: 2;
    flex-direction: column;
  }
  .imageCoverTitle {
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  .imageCoverSubTitle1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }

  .textCover {
    position: absolute;
    display: flex;
    z-index: 2;
    flex-direction: column;
  }
  .imageCoverTitle {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  .imageCoverSubTitle1 {
    color: white;
    font-size: 1rem;
    text-shadow: 0.1em 0.1em 0.2em black;
  }
  /**主要內容*/
  .lastNewsContainer {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px 0px 10px 0px;

    border-bottom: 1px solid rgb(213, 213, 213);
  }
  .lastNews p {
    font-weight: 500;
    color: green;
    width: 150px;

    text-align: left;
    font-size: 1.4rem;
    padding: 2px;
  }
  /*卡片框架*/
  .cardContainer {
    width: 100%;
    max-width: 990px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
  }
  /*cell*/
  .cardContainer > div {
    position: relative;
    max-width: 991px;
    height: 130px;
    margin: 10px 5px 0px 5px;
    border-bottom: 1px solid rgb(213, 213, 213);
  }
  /*照片*/
  .cardContainer > div > a {
    display: block;
    height: 110px;
    width: 135px;
    background-image: url("/image/Card.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(60%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .cardContainer > div > a:hover {
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
    filter: grayscale(0%);
  }
  /*積分、名額*/
  .cardContainer .cardSubInfo {
    color: grey;

    position: absolute;
    top: 0px;
    left: 150px;
    span {
      display: flex;
      justify-content: space-around;
      font-size: 0.9rem;
      margin-bottom: 10px;
    }
  }
  /*cell切兩塊第二塊*/

  .cardTitle {
    position: absolute;
    top: 50px;
    left: 150px;
    font-weight: 400;
  }
  .cardLoveButton {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 30px;
    color: grey;
  }
  .cardLoveButton:hover {
    color: palevioletred;
  }
  .cardTime {
    position: absolute;
    top: 80px;
    left: 150px;
    font-size: 14px;
    color: rgb(246, 101, 18);
    letter-spacing: 3px;
  }
  .moreActivity {
    position: absolute;
    margin-top: -40px;
    right: 18px;
    border: 2px solid green;
    border-radius: 20px;
    text-align: center;
    width: 100px;
    text-decoration: none;
    color: green;
  }
  /*popover*/
}
